@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    font-family: sans-serif;
}
main{
    display: block;
    margin: auto;
    width: 820px;
    height: auto;
    position: relative;
    background-color: white;
    border-radius: 10px 0px 10px;
}
#titulo{
    text-align: center;
    color: rgb(0, 108, 196);
    font-size: 43px;
    margin-top: 30px;
}
#flex{
    width: 541px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.botoes{
    margin-top: 35px;
    padding: 2px;
    color: rgb(0, 108, 196);;
}
.botoes:hover{
    background-color:rgb(188, 225, 255); ;
}

iframe{
    display: block;
    margin: auto;
    width: 800px;
    height: 331px;;
}
footer{
    color: rgb(0, 80, 146);
    font-size: 14px;
}