@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family= Roboto + Slab:wght@100;200;300 & display=swap');

:root{
    ---cor-principal: #006cc4;
    ---fonte:'Roboto Slab', serif;

}

body{
    background-color: black;
    font-family: sans-serif;
}
main{
    display: block;
    margin: auto;
    width: 820px;
    height: auto;
    position: relative;
    background-color: #ffffffd9;
    border-radius: 10px 0px 10px;
}
#titulo{
    text-align: center;
    color: var(---cor-principal);
    font-size: 43px;
    margin-top: 30px;
}
#flex{
    width: 541px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.botoes{
    margin-top: 35px;
    padding: 2px;
    color:  var(---cor-principal);
}
.botoes:hover{
    background-color:#ffffffd9;
}

iframe{
    display: block;
    margin: auto;
    width: 800px;
    height: 331px;;
}
footer{
    color: var(---cor-principal);
    font-size: 14px;
}
 